.review-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
}
.stars-container{
    display: flex;
}
.stars-input{
    display: flex;
}
.filled{
    color: black
}
.empty{
    color:white
}
