.create-spot-form{
    display: flex;
    flex-direction: column;
    margin: 0px 300px
}

.country-input{
    width: 98%;
    border: 2px solid;
}

.street-address-input{
    width: 98%;
    border: 2px solid;
}

.city-input{
    width: 16rem;
    border: 2px solid;
}

.state-input{
    width: 8rem ;
    background-color: rgba(83, 121, 170, 0.432);
    padding-right: 10px;
    border: 2px solid;
}

.latitude-input{
    width: 12.5rem;
    border: 2px solid;
}

.longitude-input{
    width: 12rem;
    border: 2px solid;
}

.city-state-container{
    display:flex
}

.lat-long-container{
    display:flex
}

.description-container{

}
