.hidden {
    display: none
}

.navButton {
    background: transparent;
    cursor: pointer;
    margin: 0;
    text-align: inherit;
    background-color: white;
    border-radius: 21px;
    height: 42px
}

.nav-bar-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    list-style: none;
}

nav{
    width: 100%;
}

.home{
    width: 100px;
    height: 50px;
    align-items: center;
}

.AirBnbLogo{
    padding-top: 10px;
    width:100%;
}

.profile-dropdown{
    position: absolute;
    z-index: 1;
}
