.log-in-form-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 80px;

}
.log-in-button{
    padding: 10px;
    background-color: rgb(233, 71, 22);
    color: white;
}

.user-input{
    height: auto;
    width: 265px;
    margin: 5px;
    border-color: black;
}

.log-in-errors{
    color: red;
    padding: 15px 5px;
}

.demo-button{
    text-decoration: underline;
    border: none;
    margin-top: 20px;
    color:rgb(40, 81, 158);
}
